html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  line-height: 1.4;
  background-color: #1C2434;
  color: white;    
  padding: 0;
  margin: 0;
  }

#mainLayout {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  top: 0;
}

#renderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

#renderView {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  /*transition: width 0.8s ease;*/
}

.Content {
  margin: 25px;
  width: 475px;
}

h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
  margin: 0px;
}

h2 {
  font-family: Inter;
  font-weight: 300;
  font-size: 24px;
  margin: 0px 0px 5px 0px;
}

h4 {
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}

date {
  font-weight: 500;
  color: #68DBFF;
  overflow: hidden;
}

strong {
  font-weight: 500;
  padding: 3px 0px;
  overflow: hidden;
}

p {
  margin: 0px;
}

#biography {
  margin-top: 30px;
  margin-left: 15px;
  pointer-events: none;
}

.SkillSectionTittle {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.Avatar {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border: 5px solid;
  border-radius: 50%;
  border-color: #374C6C;
  pointer-events: none;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

#hideButton {
  transition: all 0.3s ease;
  opacity: 0.2;
  width: 14px;
  z-index: 10;
}

#hideButton:hover {
  opacity: 0.5;
  width: 16px;
}

#AuthorBar {
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
  width: auto;
  top: 0px;
  left: 0px;
  margin: 15px 0px 15px 15px;
  z-index: 9;
  cursor: pointer;
}

.AuthorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin-left: 15px;
  pointer-events: none;
}

#aboutMe {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 95px;
  left: 0px;
  width: 350px;
  height: 100px;
  padding: 0px 15px 0px 95px;
  transition: all 1s ease;
  opacity: 0;
  z-index: 6;
  overflow: hidden;
}

#aboutMeButton {
  display: flex;
  cursor: pointer;
}

#aboutMeText {
  margin: 0px 15px;
  overflow: hidden;
}

#socialMedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 15px;
}

#socialMediaFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  padding: 15px;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374C6C;
  border-radius: 50%;
  border: solid 2px #374C6C;
  transition: all 0.3s ease;
}

.socialMediaIconFooter {
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374C6C;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.socialMediaIcon:hover {
  width: 45px;
  height: 45px;
  background-color: white;
}

.socialMediaIconFooter:hover {
  width: 48px;
  height: 48px;
  background-color: white;
}

.MediaIcon {
  width: 100%;
  height: 100%;
  fill: #1C2434;
}

.MediaIconSrc {
  width: 100%;
  height: 100%;
}

.hidden {
  pointer-events: none;
}

img {
  width: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details {
overflow: hidden;
}

details[open] .content {
opacity: 1;
max-height: 100vh;
transition: opacity 0.5s, max-height 0.5s;
}

.details .content {
opacity: 0;
max-height: 0;
transition: opacity 0.5s, max-height 0.5s;
}

.TagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 15px;
}

.ProgressArea {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5px;
}

.SkillItem {
  display: flex;
  width: 85%;
  height: 85%;
  background: linear-gradient(90deg, #1C2434, #374C6C);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 4;
}

.SkillLabel {
  width: auto;
  height: auto;
  text-align: center;
  padding-top: 10px;
}

.SkillTag {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 110px;
  height: 150px;
  cursor: default;
}

#SkillSection {
  width: 100%;
  position: relative;
}

.Icon {
  width: 50%;
}

.IconSmall {
  width: 70%;
}

.Clear {
  clear: right;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.buttonTest {
  background-color: slategrey;
  color: white;
  border: solid 2px white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.buttonTest:hover {
  background-color: darkslategray;
}

a {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.Toggle {
  width: 45%;
  height: 50px;
}

.Tab {
  width: 33.33%;
  height: 40px;
  font-family: Inter;
  font-weight: 300;
  margin: 0;
  z-index: 9;
}

#HeaderPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 475px;
  height: auto;
  z-index: 5;
  transition: transform 0.8s ease;
}

#HeaderPanelBehind {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: height 0.5s ease;
  height: 80px;
  padding: 15px;
}

#fixedBackground {
  background: linear-gradient(#1C2434, #374C6C);
  width: 475px;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  transition: width 0.8s ease;
  z-index: 1;
}

#offset {
  transition: height 0.5s ease;
  height: 170px;
}

.glass {
  background-color: rgba(28, 36, 52, 0.8); /* set the background color and transparency */
  backdrop-filter: blur(8px); /* apply the blur effect */
}

#NavPanel {
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#snakeSpace {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: solid;
  border-color: white;
  height: 10px;
  overflow: hidden;
}

#snakeElement {
  position: relative;
  width: 450px;
  top: 2px;
  left: -150px;
}

#snakeElement path {
  transition: transform 0.5s ease;
  transform: scaleY(0.0);
  transform-origin: bottom;
}

#Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s ease;
  z-index: 3;
}

#hiddenPanel {
  background: linear-gradient(#1C2434, #374C6C);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -50px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 7;
  padding-left: 0;
}

.hiddenBarContainer {
  display: flex;
  margin: 20px 0px;
  z-index: 8;
  flex-direction: column;
  width: 100%;
}

.hiddenBarText {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-justify: center;
  align-items: center;
  font-family: Inter;
  font-weight: 200;
  font-size: 18px;
  padding: 15px 0px;
  width: 100%;
  color: white;
  /*transition: all 0.3s ease;*/
}

.hiddenBarText:hover {
  background-color: rgba(28, 36, 52, 0.7);
}

.barTextSeparator {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-justify: center;
  align-items: center;
  font-family: Inter;
  font-weight: 200;
  font-size: 18px;
  width: 100%;
  color: white;
}

#unhideButton {
  transition: all 0.3s ease;
  opacity: 0.2;
  width: 14px;
  transform: rotate(180deg);
  pointer-events: none;
  z-index: 8;
}

summary {
  list-style: none;
  outline: none;
  padding: 20px;
  border-top: solid;
  border-color: white;
  cursor: default;
}

.Accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AccordionContent {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease;
  overflow: hidden;
}

.AccordionTittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  border-top: solid;
  border-color: white;
  cursor: pointer;
}

.BackgroundData {
  display: block;
}

.BackgroundTag {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  cursor: default;
}

.AccordionOpened {
  height: 200px;
}

#FormationBackground {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  left: 0;
}

.FooterInfo {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
}

.metaInfo {
  font-size: 12px;
  margin: 20px;
}

#SoftwareSection {
  position: relative;
  width: 100%;
  border-top: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#ContactSection {
  position: relative;
  width: 100%;
  border-top: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.SkillSectionTittle {
  padding: 20px;
}

.SoftwareContainer {
  display: flex;
  flex-direction: column;
}

#ContactInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.SoftwareItem {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 40px 15px 30px;
  cursor: default;
}

.Logotype {
  width: 40px;
}

.inflatedLogo {
  width: 45px;
}

.itemHover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categoryHover {
  background-color: rgba(0, 0, 0, 0.2);
}

.SoftwareInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  height: 55px;
  flex-grow: 1;
}

.SoftwareName {
  margin: 0;
  cursor: default;
}

.SoftwareIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}

.Progress {
  height: 100%;
  width: 80%;
  background-color: white;
}

.SeeMore {
  transition: all 0.3s ease;
  transform: rotate(270deg);
  width: 10px;
  align-items: flex-start;
  overflow: hidden;
  opacity: 0.5;
}

.SeeMoreHover {
  width: 12px;
  opacity: 1.0;
}

.SeeLess {
  transform: rotate(90deg);
}

.Disapear {
  opacity: 0;
}

.CircleProgress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

circle {
  fill: none;
  stroke: white;
  stroke-width: 6px;
  stroke-dasharray: 230;
  stroke-dashoffset: 0;
}

#mapContainer {
  width: 100%;
  height: 200px;
  background-color: #1C2434;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CANVAS 2D RENDERING */

.BloomEffect {
  width: 150px;
}

@media screen and (orientation: portrait){
  .Background {
      width: 100%;
  }
  #HeaderPanel {
      width: 100%;
  }
  #Panel {
      width: 100%;
      transition: transform 1.5s ease;
  }
  .TagContainer {
      justify-content: flex-start;
      grid-column: 2;
      width: auto;
  }
  .FooterInfo {
      display: none;
  }
  .TagContainerPartner {
      display: flex;
      justify-content: center;
      margin: 0 auto;
  }

  #fixedBackground {
    background: linear-gradient(#1C2434, #374C6C);
    position: fixed;
    width: 100%;
    height: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    transition: height 0.8s ease;
    z-index: 1;
  }

  #mainLayout {
    display: block;
    height: 100%;
  }

  #renderView {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  #renderContainer {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  #hiddenPanel {
    background: linear-gradient(90deg, #1C2434, #374C6C);
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
    height: 60px;
    position: fixed;
    top: auto;
    bottom: -60px;
    left: 0px;
  }

  .hiddenBarContainer {
    display: flex;
    margin: 0px 0px;
    z-index: 8;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .hiddenBarText {
    display: flex;
    writing-mode: horizontal-tb;
    flex-direction: row;
    justify-content: center;
    transform: rotate(0deg);
    text-orientation: mixed;
    text-justify: center;
    align-items: center;
    font-family: Inter;
    font-weight: 200;
    font-size: 18px;
    padding: 0px 0px;
    width: 100%;
    color: white;
  }

  .barTextSeparator {
    display: flex;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-orientation: mixed;
    text-justify: center;
    align-items: center;
    font-family: Inter;
    font-weight: 200;
    font-size: 18px;
    width: 20px;
    color: white;
  }

  #hideButton {
    transform: rotate(270deg);
    margin: 0px 10px;
  }

  #unhideButton {
    transform: rotate(90deg);
    padding: 0px 20px;
  }
}

.inflatedOuter {
  width: 90px;
  height: 90px;
}

.inflatedInner {
  background: #374C6C;
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}