.biography-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 50px);
    height: auto;
    padding: 0px 25px 25px 25px;
}

#biography-text {
    pointer-events: none;
    width: 100%;
    height: auto;
}

#offset {
    width: 100%;
    overflow: hidden;
}

#aboutContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
}

.AuthorImage {
    width: 100%;
    height: auto;
}

#aboutMeButton {
    display: flex;
    cursor: pointer;
}

#aboutMeButton:hover .SeeMore {
    opacity: 1.0;
}

#aboutMeText {
    margin-left: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.AuthorInfoPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin: 20px;
    pointer-events: none;
}