.Avatar {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border: 5px solid;
    border-radius: 50%;
    border-color: #374C6C;
    pointer-events: none;
}

#AuthorBar {
    display: grid;
    grid-template-columns: auto 1fr;
    position: fixed;
    width: auto;
    top: 0px;
    left: 0px;
    margin: 15px 0px 15px 15px;
    z-index: 9;
    cursor: pointer;
}

.AuthorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin-left: 15px;
    pointer-events: none;
}