.Accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AccordionContent {
    display: block;
    transition: height 0.5s ease;
    overflow: hidden;
    border-top: solid;
    border-color: white;
}

.AccordionTittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 22px 10px 22px 22px;
    cursor: pointer;
}

.AccordionTittle:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.AccordionTittle:hover .SeeMore {
    opacity: 1.0;
}

.BackgroundData {
    display: block;
}

.BackgroundTag {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    cursor: default;
}

.AccordionOpened {
    height: 200px;
}

#FormationBackground {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    left: 0;
}

.Date {
    font-weight: 500;
    color: #68DBFF;
    overflow: hidden;
  }