.eye-container {
    position: absolute;
    top: 15px;
    left: 15px;
    object-fit: cover;
    width: 70px;
    height: 70px;
    border: 3px solid #384D6C;
    background-color: #1C2434;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .eye {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .pupil {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
  }
  