.HiddenPanel {
    background: linear-gradient(rgba(28, 36, 52, 1), rgba(55, 76, 108, 0.8));
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    transition: transform 0.3s ease-in-out, padding-left 0.1s ease-in-out, padding-bottom 0.1s ease-in-out;
    cursor: pointer;
    z-index: 7;
    padding-left: 0px;
}

.HiddenPanel:hover {
    padding-left: 5px;
    padding-bottom: 0px;
}

.hiddenBarContainer {
    display: flex;
    margin: 20px 0px;
    z-index: 8;
    flex-direction: column;
    width: 100%;
}

.hiddenBarTextContainer {
    width: auto;
    height: auto;
}

.hiddenBarText {
    display: flex;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
    text-justify: center;
    align-items: center;
    font-weight: 200;
    font-size: 16px;
    padding: 15px 0px;
    width: 100%;
    color: white;
    /*transition: all 0.3s ease;*/
}

.hiddenBarTextContainer:hover {
    background-color: rgba(28, 36, 52, 0.7);
}

.barTextSeparator {
    display: flex;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
    text-justify: center;
    align-items: center;
    font-weight: 200;
    font-size: 18px;
    width: 100%;
    color: white;
}

#unhideButton {
    transition: all 0.3s ease;
    opacity: 0.2;
    width: 14px;
    transform: rotate(180deg);
    pointer-events: none;
    z-index: 8;
}

@media screen and (orientation: portrait) {

    .HiddenPanel {
        background: linear-gradient(90deg, rgba(28, 36, 52, 1), rgba(55, 76, 108, 0.8));
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        height: 50px;
        position: fixed;
        top: auto;
        bottom: 0px;
        left: 0px;
    }

    .HiddenPanel:hover {
        padding-left: 0px;
        padding-bottom: 5px;
    }

    .hiddenBarContainer {
        display: flex;
        justify-content: center;
        margin: 0px 0px;
        z-index: 8;
        flex-direction: row;
        width: auto;
        height: 100%;
    }

    .hiddenBarTextContainer {
        width: auto;
        height: auto;
        padding: 0px 15px;
    }

    .hiddenBarTextContainer:hover {
        background-color: rgba(28, 36, 52, 0.7);
    }

    .hiddenBarText {
        display: flex;
        writing-mode: horizontal-tb;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        transform: rotate(0deg);
        text-orientation: mixed;
    }

    .barTextSeparator {
        display: flex;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        text-orientation: mixed;
        text-justify: center;
        align-items: center;
        font-weight: 200;
        font-size: 18px;
        color: white;
    }

    #unhideButton {
        transform: rotate(90deg);
        padding: 0px 20px;
      }
}