.LoadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 23, 34, 1);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 1s ease;
}

.LoadingPage.Invisible {
    opacity: 0;
}

.OfficeLogo {
    width: 300px;
    height: 300px;
    padding-right: 50px;
    transition: all 1s ease;
}

.OfficeLogo.Inflated {
    width: 400px;
    height: 400px;
}

.LoadingBar {
    width: 100%;
    height: 5px;
    display: flex;
}

.LoadingProgress {
    height: 100%;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
}

progress::-webkit-progress-value {
    background-color: white;
    transition: all 0.3s ease;
}

progress::-webkit-progress-bar {
    background-color: rgb(55, 76, 108);
    transition: all 0.3s ease;
}

.LoadingText {
    margin: 30px;
    font-weight: 100;
}

.StartButton {
    width: 250px;
    height: 50px;
    color: rgb(55, 76, 108);
    border: solid 2px rgb(55, 76, 108);
    border-radius: 25px;
    transition: all 0.3s ease;
    opacity: 0;
}

.StartButton.Visible {
    opacity: 1;
    cursor: pointer;
}

.StartButton:hover {
    color: white;
    border-color: white;
}

@media screen and (orientation: portrait) {
    .OfficeLogo {
        width: 250px;
        height: 250px;
        padding-right: 30px;
    }
}