.LoadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 23, 34, 1);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 1s ease;
}

.LoadingPage.Invisible {
    transition: all 1s ease;
    opacity: 0;
    pointer-events: none;
}

.OfficeLogo {
    width: 300px;
    height: 300px;
    padding-right: 50px;
    transition: all 1s ease;
}

.OfficeLogo.Inflated {
    width: 400px;
    height: 400px;
    opacity: 0;
}

.LoadingBar {
    width: 100%;
    height: 5px;
    display: flex;
    transition: all 1s ease;
}

.LoadingBar.Hidden {
    height: 0px;
}

.LoadingProgress {
    height: 100%;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
}

progress::-webkit-progress-value {
    background-color: white;
    transition: all 0.3s ease;
}

progress::-webkit-progress-bar {
    background-color: #315F8C;
    transition: all 0.3s ease;
}

.LoadingText {
    margin: 30px;
    font-weight: 100;
    transition: all 0.3s ease;
    opacity: 1;
}

.LoadingText.Hidden {
    opacity: 0;
}

.StartButton {
    width: 250px;
    height: 50px;
    color: #315F8C;
    border: solid 2px #315F8C;
    border-radius: 25px;
    transition: opacity 0.3s ease;
    transition: transform 2s ease;
    transform: translateY(0) scale(1);
    opacity: 0;
}

.StartButton.Visible {
    opacity: 1;
    cursor: pointer;
}

.StartButton:hover {
    color: white;
    border-color: white;
}

.StartButton.MoveOut {
    /* State styles for when the experience starts */
    transform: translateY(100vh) scale(2);
}

@media screen and (orientation: portrait) {
    .OfficeLogo {
        width: 250px;
        height: 250px;
        padding-right: 30px;
    }

    .LoadingPage {
        padding-top: 60px;
    }
}