.NavBar {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
    grid-row: 1;
}

.Navbar-background-border {
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    background: conic-gradient(from -160deg at 50% 50%,
            #FFFFFF 0deg,
            #1F3356 90deg,
            #68DBFF 180deg,
            #1F3356 270deg,
            #FFFFFF 360deg);
    border-radius: inherit;
    grid-row: 1 / 3;
    opacity: 1;
}

.Navbar-background-border--hidden {
    opacity: 0;
}

.Navbar-background {
    position: absolute;
    align-items: center;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background: rgba(33, 43, 63, 1);
    border-radius: inherit;
    border: solid 0px rgba(178, 178, 178, 1);
    margin: 1px;
}

.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 30px;
    position: fixed;
    align-items: center;
    height: 50px;
    width: 400px;
    top: 15px;
    right: 15px;
    z-index: 10;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    border: solid 0.5px rgba(178, 178, 178, 1);
    border-radius: 25px;
    transition: all 0.3s ease;
    background: rgba(33, 43, 63, 0.5);
    backdrop-filter: blur(30px);
    margin-left: auto;
    overflow: hidden;
}

.navbar-wrapper--expanded {
    height: calc(100% - 95px);
}

#infoPanelContent {
    grid-row: 2;
}

#hideInfoPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 0.5px rgba(178, 178, 178, 1);
    border-radius: 0px;
    grid-row: 3;
}

#hideInfoPanel:hover {
    background: rgba(33, 43, 63, 0.5);
}

#hideInfoPanel:hover .view-more-arrow {
    opacity: 1;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.BackButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.BackToParent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    border-radius: 50%;
    opacity: 0.5;
}

.BackToParent:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.disabled-no-parent {
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
}

.disabled-no-parent:hover {
    background-color: rgba(0, 0, 0, 0);
}

.BackChevron {
    opacity: 0.5;
    transition: all 0.3s ease;
}

.BackButton:hover .BackChevron {
    opacity: 1;
}

.InstanceNavigator {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    transform: translateY(-50px);
    transition: all 0.2s ease;
}

.slide-up {
    transform: translateY(-100px);
}

.slide-down {
    transform: translateY(0px);
}

.no-anim {
    transition: none !important;
  }

.InstanceNavigator-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.RootInstance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    transition: all 0.3s ease;
}

.LegineIcon {
    opacity: 0.5;
}

.RootInstance:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.RootInstance:hover .LegineIcon {
    opacity: 1;
}

.NavigationInstance {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100%;
    transition: all 0.3s ease;
}

.InstanceIcon {
    opacity: 0.5;
    transition: all 0.3s ease;
    z-index: 10;
}

.InstanceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    height: 100%;
    padding: 0px 10px;
    margin-left: -2px;
    transition: all 0.3s ease;
}

.PhantomInstance {
    display: flex;
    color: #68DBFF;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    height: 100%;
    padding: 0px 10px;
    transition: all 0.3s ease;
}

.searchbar-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    grid-row: 1 / 1;
    overflow: hidden;
    transition: all 0.2s ease;
}

.SearchBar {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    background-color: #141823;
    opacity: 1;
    transition: all 0.3s ease;
}

.searchbar-collapsed {
    width: 50px;
}

.SearchBar--focused {
    border-color: rgba(255, 255, 255, 1);
}

.InstanceInput {
    width: 398px;
    height: 100%;
    margin-left: 25px;
    border: none;
    padding: 0px;
    font-size: 14px;
    font-weight: 100;
    background-color: transparent;
    color: white;
}

.InstanceInput:focus {
    outline: none;
}

.SearchIcon--enabled {
    opacity: 1;
    cursor: pointer;
}

.ObjectIcon-blinking {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.blink {
    opacity: 0.5;
}