#biography {
    margin-top: 20px;
    margin-left: 5px;
    pointer-events: none;
}

#offset {
    width: 100%;
    overflow: hidden;
}

#optionsMenu {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 110px;
    align-items: center;
    top: 95px;
    left: 0px;
    width: 400px;
    height: 100%;
    transition: all 1s ease;
    z-index: 6;
    overflow: hidden;
    padding: 0px 15px;
}

.aboutButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#aboutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 32px;
    background-color: rgba(18, 23, 34, 1);
    border-radius: 16px;
    border: solid 1px white;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 12px;
}

#aboutButton:hover {
    width: 105px;
    height: 38px;
    border-radius: 19px;
    background-color: #374C6C;
    border: solid 1px white;
}

#aboutMeButton:hover .SeeMore {
    opacity: 1.0;
}

#aboutMeText {
    margin-left: 5px;
    margin-right: 10px;
    overflow: hidden;
}