.SkillSectionTittle {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.TagContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
}

.ProgressArea {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    width: 80px;
    height: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
    transition: all 0.2s ease-out;
}

.SkillItem {
    display: flex;
    width: 85%;
    height: 85%;
    background: linear-gradient(90deg, #1C2434, #374C6C);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 4;
    transition: all 0.2s ease-out;
}

.SkillLabel {
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 10px;
}

.SkillTag {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 110px;
    height: 150px;
    cursor: default;
}

#SkillSection {
    width: 100%;
    position: relative;
}

.CircleProgress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.inflatedOuter {
    width: 90px;
    height: 90px;
}

.inflatedInner {
    background: #374C6C;
}