#socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    width: 250px;
}

#socialMediaFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding: 15px;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaIcon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374C6C;
    border-radius: 50%;
    border: solid 1px #374C6C;
    transition: all 0.3s ease;
    cursor: pointer;
}

.socialMediaIconFooter {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374C6C;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.socialMediaIcon:hover {
    width: 38px;
    height: 38px;
    background-color: white;
}

.socialMediaIconFooter:hover {
    width: 42px;
    height: 42px;
    background-color: white;
    border: solid 2px white;
}

.MediaIcon {
    width: 100%;
    height: 100%;
    fill: rgba(18, 23, 34, 1);
}

.MediaIconSrc {
    width: 100%;
    height: 100%;
}