#socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#socialMediaFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding: 15px;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374C6C;
    border-radius: 50%;
    border: solid 2px #374C6C;
    transition: all 0.3s ease;
}

.socialMediaIconFooter {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374C6C;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.socialMediaIcon:hover {
    width: 45px;
    height: 45px;
    background-color: white;
}

.socialMediaIconFooter:hover {
    width: 48px;
    height: 48px;
    background-color: white;
}

.MediaIcon {
    width: 100%;
    height: 100%;
    fill: #1C2434;
}

.MediaIconSrc {
    width: 100%;
    height: 100%;
}