#SoftwareSection {
    position: relative;
    width: 100%;
    border-top: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .SoftwareContainer {
    display: flex;
    flex-direction: column;
  }

  .SoftwareItem {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: default;
  }
  
  .Logotype {
    width: 35px;
  }
  
  .inflatedLogo {
    width: 40px;
  }
  
  .itemHover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .SoftwareInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
    height: 55px;
    flex-grow: 1;
  }
  
  .SoftwareName {
    margin: 0;
    cursor: default;
    font-size: 14px;
  }
  
  .SoftwareIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  
  .ProgressBar {
    width: 100%;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .Progress {
    height: 100%;
    width: 80%;
    background-color: white;
  }