.ChatbotContainer {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 21;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: visible;
  column-gap: 10px;
  margin-right: 25px;
  pointer-events: none;
}

.hide-bot {
  opacity: 0;
  overflow: hidden;
}

.LoadingChatbotContainer {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 21;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  overflow: visible;
  transition: all 0.5s ease;
  column-gap: 10px;
  margin-right: 25px;
}

@media screen and (orientation: portrait) {
  .ChatbotContainer {
    flex-direction: column-reverse;
    top: auto;
    bottom: calc(15px + env(safe-area-inset-bottom));
    left: 15px;
    align-items: flex-start;
    margin-right: 15px;
  }

  .LoadingChatbotContainer {
    top: 20px;
    left: 20px;
  }
}